.tick,
.axis-line {
  stroke: #B2B2B2;
  stroke-width: 1;
  shape-rendering: auto;
}

.dot  { fill: #3e3e3e }

.label { fill: #8a8a8a }

.axis-label line,
.axis-label path {
  display:none
}

.axis-label text {
  stroke: #3e3e3e;
  shape-rendering: auto;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 40px;
  height: 12px;
  padding: 8px;
  margin-top: -42px;
  font: 10px sans-serif;
  background: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  color: #FFF;
  border-radius: 4px;
}

.tooltip:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0.8);
  border-width: 4px;
  margin-left: -4px;
}
